<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdmobAppID</key>
	<string>ca-app-pub-5627889931946255~2664832531</string>
	<key>adUnitID</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AppAppleID</key>
	<string>1410649117</string>
	<key>GoogleAnalyticsTrackingID</key>
	<string>UA-125016847-1</string>
</dict>
</plist>
