<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>499718274700-60acdfshbt368gmo96bbro1vsci31q7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499718274700-60acdfshbt368gmo96bbro1vsci31q7l</string>
	<key>API_KEY</key>
	<string>AIzaSyBEVRf7Ny9WWQYGhUBZJK9vYi-7a1vjFbk</string>
	<key>GCM_SENDER_ID</key>
	<string>499718274700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.lylink.dev</string>
	<key>PROJECT_ID</key>
	<string> -ios</string>
	<key>STORAGE_BUCKET</key>
	<string>lylink-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:499718274700:ios:4e995029a8ffd1fd</string>
	<key>DATABASE_URL</key>
	<string>https://lylink-ios.firebaseio.com</string>
</dict>
</plist>
